<div id="<%= dom_id notebook %>">
  <p>
    <strong>Modelo:</strong>
    <%= notebook.title %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= notebook.brand %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= notebook.description %>
  </p>

  <p>
    <strong>Url image:</strong>
    <%= notebook.url_image %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= notebook.price %>
  </p>

</div>
